:root{
  --white1: #ffffff;
  --black1: #000000;

  --textgrey: #6B6F75;

  --grey1: #dfe4e9;
  --grey2: #e4e5e8;
  --grey3: #F8F8FA;

}
.board-details{
  height: 100vh;
  background-color: var(--grey2);
}